<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JB.Tfs.Common" version="0.0.0.5" targetFramework="net45" />
  <package id="Microsoft.TeamFoundation.Common" version="12.0.21005.1" targetFramework="net45" />
  <package id="Microsoft.TeamFoundation.WIT.Client" version="12.0.21005.1" targetFramework="net45" />
</packages>